.bg-yellow {
    background: rgb(255, 230, 0);
    position: relative;

    /* border-bottom-left-radius: 40%;
    border-bottom-right-radius: 30%; */
}

.bg-none {
    background: none;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 20px white;
    background: none;
    color: black;
    border: none;
    font-weight: 900;
}

img {
    width: 200px;
    margin-right: 10px;
    margin: 10px;
    padding: 10px 0;
}

.img1 {
    border: 1px solid white;
    transform: skew(15deg, 15deg);
    /* transform: rotate(45deg); */
    width: 33%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 20px;
    z-index: 3;
}

.img2 {
    background: whitesmoke;
    border: 1px solid white;
    padding: 10px 10px;
    transform: skew(15deg, 15deg);
    width: 23%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 220px;
    top: 45px;
    z-index: 2;
}

.img3 {
    background: lightgrey;
    border: 1px solid grey;
    transform: skew(15deg, 15deg);
    width: 13%;
    height: 50px;
    position: absolute;
    left: 380px;
    top: 95px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.img4 {
    max-width: 350px;

}

.cord {
    width: 300px;
    height: 350px;
    /* border: 1px solid green; */
    margin-left: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgb(61, 65, 63);
}

.cord-c {
    height: 380px;
    height: 350px;
    /* border: 1px solid green; */
    transform: scale(1.1);
}

.cord h2 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Delicious Handrawn';
    margin-bottom: 0;
}

.cord p {
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
}

.center {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 20px;
    font-size: 30px;
    font-weight: 700;
    color: goldenrod;

    /* text-shadow: 10px 10px 10px yellow; */
}

.center1 {
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 90px;
    font-size: 30px;
    font-weight: 700;
    color: gray;
    text-decoration: yellow outset;
}

.cord ul {
    padding: 0;
}

.plans h3 {
    font-size: 40px;
    font-weight: 700;
}

.plans p {
    margin-top: 0;
    margin-bottom: 30px;
}

.cord ul li {
    text-decoration: none;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    list-style-type: none;

}

.sec1:nth-child(1).cord {
    padding-right: 5px;
}

.sec1:nth-child(3) {
    padding-left: 5px;
}

.top-sec1 {
    background-color: gray;
    width: 300px;
    height: 80px;
}

.top-sec2 {
    background-color: yellow;
    width: 300px;
    height: 80px;
}

.top-sec3 {
    background-color: orangered;
    width: 300px;
    height: 80px;
}

.ninja {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.cord1 {
    width: 420px;
    height: 120px;
    background: white;
    padding: 10px;
    justify-content: space-between;
}

.cord1 p {
    text-shadow: 0 0 10px black;
    text-align: justify;
}

.t-img {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
}

.card {
    width: 200px;
    height: 150px;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .d-flex {
        flex-direction: column;
    }

    .logo {
        align-items: center;
        justify-content: center;
        flex-direction: row
    }

    .mx-w {
        max-width: 768px;
    }

    .blueline {
        display: none;
    }

    .smokecircle {
        display: none;
    }

    .arrow {
        rotate: 90deg;
        padding-left: 232px;
        padding-top: 112px;

    }

    .image {
        width: 50%;
        flex-direction: column;
    }

    .bgi {
        width: 30%;
        position: absolute;
        left: 20%;
    }

    .bgi1 {
        width: 20%;
        position: relative;
        left: 60%;
    }

    /* .img1 {
        position: absolute;
    }

    .image {
        width: 100%;
        height: auto;
        transform: skew(0);
        position: relative;
        flex-direction: row;
        align-items: center;
        top: auto;
        left: auto;
        max-width: 150px;
    } */
    .r1 {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 100%; */
        flex-direction: row;

    }

    .r3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .l1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .o1 {
        order: 1;
    }

    .o2 {
        order: 2;
    }

    .o3 {
        order: 3;
    }

    .s-circle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img4 {
        max-width: 150px;
        position: relative;
        left: -30px;
        top: 15px;
    }

    .box {
        max-width: 500px;
        flex-direction: row;
    }

    .cir {
        left: -105px;
        position: relative;
    }

    .sec1 {
        flex-direction: row;
        width: 100%;
        margin: 0;
    }

    .sec {
        width: 100%;
    }

    .cord {
        width: 100%;
        margin: 0;
    }

    .inc-bag {
        display: none;
    }

    .inc-bag1 {
        display: none;
    }

    .f-r {
        flex-direction: row;
    }

    .leftf {
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .m-center {
        align-items: center;
    }

    .rightf {
        padding-right: 30px;
    }

    .m-aic {
        align-items: center;
    }
}